@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;
}

body {
    font-family: "Figtree", sans-serif; 
    background-color: var(--yellow);
    color: var(--gray-950);  
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.container {
    padding: 1.5rem;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    border: 0.1rem solid var(--gray-950);
    box-shadow: 0.5rem 0.5rem 0px 0px;
}


.container img {
    border-radius: 1rem;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
}

.category {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    gap:0.5rem;
    border-radius: 0.25rem;
}

.category p, .title, .author p{
    color: var(--gray-950);

    font-family: "Figtree", sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 150%;
}

.publish-date, .description, .attribution{
    color: var(--gray-950);

    font-family: "Figtree", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
}

.title {
    font-size: 1.5rem;
}

.description {
    color: var(--gray-500);
    font-size: 1rem;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.author img {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.author p {
    font-size: 0.875rem;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.attribution a {
    text-decoration: none;
    color: var(--gray-950);
}


.title:hover{
    color: var(--yellow);
    cursor: pointer;
}

.attribution a:hover {
    color: var(--gray-950);
    font-weight: bold;
}

